# Server
PORT=3000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=appuser
DB_PASSWORD=
DB_NAME=bananasplits

# Correct DATABASE_URL
DATABASE_URL=postgres://appuser:@localhost:5432/bananasplits

PLAID_CLIENT_ID=691dcdf1b91788001eb99a74
PLAID_SECRET=0c3f267838838904d4de8d9c4882cd
PLAID_ENV=sandbox
PLAID_REDIRECT_URI=http://localhost:3000/callback # optional
